@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-variant-one {
        width: theme("width.28");
        height: theme("height.12");
        border-width: theme("borderWidth.2");
        border-color: theme("borderColor.orange.500");
        border-radius: theme("borderRadius.2xl");

        padding-left: theme("padding.3");
        padding-right: theme("padding.3");
        padding-top: theme("padding.2");
        padding-bottom: theme("padding.2");

        color: theme("textColor.orange.500");
        cursor: theme("cursor.pointer");

        font-weight: theme("fontWeight.bold");

        transition: theme("transitionDuration.300");
        transition: theme("transitionProperty.all");
    }

    .btn-variant-one:hover {
        background-color: theme("backgroundColor.stone.900");
        color: theme("textColor.gray.200");
        box-shadow: theme("boxShadow.lg");

        --tw-shadow-color: theme("boxShadowColor.orange.500");
    }
}
